<div gdAreas="area1 area2 area3 area4" class="Footer" gdColumns="25%" gdColumns.sm="50!" gdColumns.xs="100%!"
    gdAreas.sm="area1 area2 | area3 area4" gdAreas.xs="area1 | area2 | area3 | area4">

  <div gdArea="area1"  >
    <div fxLayout="column" >
      <div fxLayoutAlign="center" fxLayoutAlign.xs="start" fxLayoutAlign.sm="start">
        <img src="./assets/img/logo/logo_bit.png" alt="Bit Seguros" class="Footer_img" />
      </div>
      <div fxLayoutAlign="center" fxLayoutAlign.xs="start" fxLayoutAlign.sm="start">
        <div class="Footer_condicoes_gerais">
          <a href="#" class="Footer_condicoes_color"> Condições gerais</a>
        </div>
      </div>
    </div>
  </div>

  <div gdArea="area2"  class="Footer_about_bit">
    <div fxLayout="column">
      <p class="Footer_title" fxLayoutAlign="start">
        Sobre a AppSoftware
      </p>
      <a class="Footer_title2" fxLayoutAlign="start">
        Nossa história
      </a>
    </div>
  </div>

  <div gdArea="area3" >
    <div fxLayout="column">
      <p class="Footer_title">Seguros</p>
      <a class="Footer_title2" [routerLink]="['/']">Seguro Auto</a>
      <a class="Footer_title2" [routerLink]="['/']">Seguro Viagem</a>
    </div>
  </div>

  <div gdArea="area4" >
    <div fxLayout="column">
      <p class="Footer_title"> Central de ajuda</p>
      <a class="Footer_title2" [routerLink]="['/central-de-ajuda']">Dúvidas frequentes</a>
      <p class="Footer_title2">(11) 3513-3600</p>
      <p class="Footer_title2">(11) 99997-3764</p>
      <p class="Footer_title2">comercial@appsoftware.com.br</p>
    </div>
  </div>
<div class="Adjustment"></div>
</div>
